<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2>Welcome!</h2>
    </main>
    <%- include('partials/header') %>
    <h1>EJS practice</h1>
    <h3>Hello, <%= person.name %></h3>

    <% if (person.occupation === 'plumber') { %>
    <p>Please fix my pipes</p>
    <% } else { %>
        <p>I thought I hired a plumber</p>
    <% } %>
</body>
</html>